name: Test installation

on:
  schedule:
    - cron: "30 23 * * *"  # before nightly builds
  push: {}

jobs:
  test_linux:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest]
    env:
      RUST_BACKTRACE: 1
    steps:
      - uses: actions/checkout@master
      - name: Install musl-tools
        run: "sudo apt-get install musl-tools"
      - name: Systemd version
        run: "systemd --version"
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: x86_64-unknown-linux-musl
          default: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target=x86_64-unknown-linux-musl --features github_action_install --test github-actions
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features github_action_install --test github-actions

  test_other:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    strategy:
      max-parallel: 4
      matrix:
        os: [windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          default: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --features github_action_install --tests
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features github_action_install -- github_action
