name: Build Test and Publish Nightly Packages

on:
  schedule:
    - cron: "0 0 * * *"
  repository_dispatch:
    types: ["nightly-build"]
  push:
    branches:
      - nightly

jobs:

  build-debian-stretch:
    runs-on: ubuntu-latest

    steps:
    - name: Build
      uses: edgedb/edgedb-pkg/integration/linux/build/debian-stretch@master
      env:
        PKG_REVISION: "<current-date>"
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "debian"
        PKG_PLATFORM_VERSION: "stretch"
        PACKAGE: edgedbpkg.edgedbcli:EdgeDBCLI
        EXTRA_OPTIMIZATIONS: "true"


    - uses: actions/upload-artifact@v1
      with:
        name: builds-debian-stretch
        path: artifacts/debian-stretch

  build-debian-buster:
    runs-on: ubuntu-latest

    steps:
    - name: Build
      uses: edgedb/edgedb-pkg/integration/linux/build/debian-buster@master
      env:
        PKG_REVISION: "<current-date>"
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "debian"
        PKG_PLATFORM_VERSION: "buster"
        PACKAGE: edgedbpkg.edgedbcli:EdgeDBCLI
        EXTRA_OPTIMIZATIONS: "true"


    - uses: actions/upload-artifact@v1
      with:
        name: builds-debian-buster
        path: artifacts/debian-buster

  build-ubuntu-xenial:
    runs-on: ubuntu-latest

    steps:
    - name: Build
      uses: edgedb/edgedb-pkg/integration/linux/build/ubuntu-xenial@master
      env:
        PKG_REVISION: "<current-date>"
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "ubuntu"
        PKG_PLATFORM_VERSION: "xenial"
        PACKAGE: edgedbpkg.edgedbcli:EdgeDBCLI
        EXTRA_OPTIMIZATIONS: "true"


    - uses: actions/upload-artifact@v1
      with:
        name: builds-ubuntu-xenial
        path: artifacts/ubuntu-xenial

  build-ubuntu-bionic:
    runs-on: ubuntu-latest

    steps:
    - name: Build
      uses: edgedb/edgedb-pkg/integration/linux/build/ubuntu-bionic@master
      env:
        PKG_REVISION: "<current-date>"
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "ubuntu"
        PKG_PLATFORM_VERSION: "bionic"
        PACKAGE: edgedbpkg.edgedbcli:EdgeDBCLI
        EXTRA_OPTIMIZATIONS: "true"


    - uses: actions/upload-artifact@v1
      with:
        name: builds-ubuntu-bionic
        path: artifacts/ubuntu-bionic

  build-ubuntu-focal:
    runs-on: ubuntu-latest

    steps:
    - name: Build
      uses: edgedb/edgedb-pkg/integration/linux/build/ubuntu-focal@master
      env:
        PKG_REVISION: "<current-date>"
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "ubuntu"
        PKG_PLATFORM_VERSION: "focal"
        PACKAGE: edgedbpkg.edgedbcli:EdgeDBCLI
        EXTRA_OPTIMIZATIONS: "true"


    - uses: actions/upload-artifact@v1
      with:
        name: builds-ubuntu-focal
        path: artifacts/ubuntu-focal

  build-centos-7:
    runs-on: ubuntu-latest

    steps:
    - name: Build
      uses: edgedb/edgedb-pkg/integration/linux/build/centos-7@master
      env:
        PKG_REVISION: "<current-date>"
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "centos"
        PKG_PLATFORM_VERSION: "7"
        PACKAGE: edgedbpkg.edgedbcli:EdgeDBCLI
        EXTRA_OPTIMIZATIONS: "true"


    - uses: actions/upload-artifact@v1
      with:
        name: builds-centos-7
        path: artifacts/centos-7

  build-centos-8:
    runs-on: ubuntu-latest

    steps:
    - name: Build
      uses: edgedb/edgedb-pkg/integration/linux/build/centos-8@master
      env:
        PKG_REVISION: "<current-date>"
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "centos"
        PKG_PLATFORM_VERSION: "8"
        PACKAGE: edgedbpkg.edgedbcli:EdgeDBCLI
        EXTRA_OPTIMIZATIONS: "true"


    - uses: actions/upload-artifact@v1
      with:
        name: builds-centos-8
        path: artifacts/centos-8

  build-linux-x86_64:
    runs-on: ubuntu-latest

    steps:
    - name: Build
      uses: edgedb/edgedb-pkg/integration/linux/build/linux-x86_64@master
      env:
        PKG_REVISION: "<current-date>"
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "linux"
        PKG_PLATFORM_VERSION: "x86_64"
        PACKAGE: edgedbpkg.edgedbcli:EdgeDBCLI
        EXTRA_OPTIMIZATIONS: "true"

        BUILD_GENERIC: true


    - uses: actions/upload-artifact@v1
      with:
        name: builds-linux-x86_64
        path: artifacts/linux-x86_64


  build-macos-x86_64:
    runs-on: macos-latest
    continue-on-error: true

    steps:
    - uses: actions/checkout@v1
      with:
        repository: edgedb/edgedb-pkg
        ref: master
        path: edgedb-cli/edgedb-pkg

    - uses: actions/cache@v2
      id: sdk1010cache
      with:
        path: ~/.cache/MacOSX10.10.sdk/
        key: MacOSX10.10.sdk

    - name: Install Xcode
      if: steps.sdk1010cache.outputs.cache-hit != 'true'
      env:
        XCODE_INSTALL_USER: github-ci@edgedb.com
        XCODE_INSTALL_PASSWORD: ${{ secrets.BOT_APPLE_ID_PASSWORD }}
      run: |
        xcversion install 6.4

    - name: Cache 10.10 SDK
      if: steps.sdk1010cache.outputs.cache-hit != 'true'
      run: |
        mkdir -p ~/.cache
        cp -a \
          /Applications/Xcode-6.4.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.10.sdk/ \
          ~/.cache/MacOSX10.10.sdk/

    - name: Select macOS SDK
      run: |
        sudo cp -a \
          ~/.cache/MacOSX10.10.sdk/ \
          /Library/Developer/CommandLineTools/SDKs/MacOSX10.10.sdk/
        sudo xcode-select -s /Library/Developer/CommandLineTools

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        default: true

    - name: Build
      env:
        PKG_REVISION: "<current-date>"
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "macos"
        PKG_PLATFORM_VERSION: "x86_64"
        SDKROOT: /Library/Developer/CommandLineTools/SDKs/MacOSX10.10.sdk/
        PACKAGE: edgedbpkg.edgedbcli:EdgeDBCLI

        BUILD_GENERIC: true

      run: |
        xcrun --show-sdk-path
        edgedb-pkg/integration/macos/build.sh

    - uses: actions/upload-artifact@v1
      with:
        name: builds-macos-x86_64
        path: artifacts/macos-x86_64


  publish-debian-stretch:
    needs: [build-debian-stretch]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v1
      with:
        name: builds-debian-stretch
        path: artifacts/debian-stretch

    - name: Describe
      id: describe
      uses: edgedb/edgedb-pkg/integration/actions/describe-artifact@master
      with:
        target: debian-stretch

    - name: Publish
      uses: edgedb/edgedb-pkg/integration/linux/upload/debian-stretch@master
      env:
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "debian"
        PKG_PLATFORM_VERSION: "stretch"
        PKG_VERSION_SLOT: "${{ steps.describe.outputs.version-slot }}"
        PACKAGE_UPLOAD_SSH_KEY: "${{ secrets.PACKAGE_UPLOAD_SSH_KEY }}"


  publish-debian-buster:
    needs: [build-debian-buster]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v1
      with:
        name: builds-debian-buster
        path: artifacts/debian-buster

    - name: Describe
      id: describe
      uses: edgedb/edgedb-pkg/integration/actions/describe-artifact@master
      with:
        target: debian-buster

    - name: Publish
      uses: edgedb/edgedb-pkg/integration/linux/upload/debian-buster@master
      env:
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "debian"
        PKG_PLATFORM_VERSION: "buster"
        PKG_VERSION_SLOT: "${{ steps.describe.outputs.version-slot }}"
        PACKAGE_UPLOAD_SSH_KEY: "${{ secrets.PACKAGE_UPLOAD_SSH_KEY }}"


  publish-ubuntu-xenial:
    needs: [build-ubuntu-xenial]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v1
      with:
        name: builds-ubuntu-xenial
        path: artifacts/ubuntu-xenial

    - name: Describe
      id: describe
      uses: edgedb/edgedb-pkg/integration/actions/describe-artifact@master
      with:
        target: ubuntu-xenial

    - name: Publish
      uses: edgedb/edgedb-pkg/integration/linux/upload/ubuntu-xenial@master
      env:
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "ubuntu"
        PKG_PLATFORM_VERSION: "xenial"
        PKG_VERSION_SLOT: "${{ steps.describe.outputs.version-slot }}"
        PACKAGE_UPLOAD_SSH_KEY: "${{ secrets.PACKAGE_UPLOAD_SSH_KEY }}"


  publish-ubuntu-bionic:
    needs: [build-ubuntu-bionic]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v1
      with:
        name: builds-ubuntu-bionic
        path: artifacts/ubuntu-bionic

    - name: Describe
      id: describe
      uses: edgedb/edgedb-pkg/integration/actions/describe-artifact@master
      with:
        target: ubuntu-bionic

    - name: Publish
      uses: edgedb/edgedb-pkg/integration/linux/upload/ubuntu-bionic@master
      env:
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "ubuntu"
        PKG_PLATFORM_VERSION: "bionic"
        PKG_VERSION_SLOT: "${{ steps.describe.outputs.version-slot }}"
        PACKAGE_UPLOAD_SSH_KEY: "${{ secrets.PACKAGE_UPLOAD_SSH_KEY }}"


  publish-ubuntu-focal:
    needs: [build-ubuntu-focal]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v1
      with:
        name: builds-ubuntu-focal
        path: artifacts/ubuntu-focal

    - name: Describe
      id: describe
      uses: edgedb/edgedb-pkg/integration/actions/describe-artifact@master
      with:
        target: ubuntu-focal

    - name: Publish
      uses: edgedb/edgedb-pkg/integration/linux/upload/ubuntu-focal@master
      env:
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "ubuntu"
        PKG_PLATFORM_VERSION: "focal"
        PKG_VERSION_SLOT: "${{ steps.describe.outputs.version-slot }}"
        PACKAGE_UPLOAD_SSH_KEY: "${{ secrets.PACKAGE_UPLOAD_SSH_KEY }}"


  publish-centos-7:
    needs: [build-centos-7]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v1
      with:
        name: builds-centos-7
        path: artifacts/centos-7

    - name: Describe
      id: describe
      uses: edgedb/edgedb-pkg/integration/actions/describe-artifact@master
      with:
        target: centos-7

    - name: Publish
      uses: edgedb/edgedb-pkg/integration/linux/upload/centos-7@master
      env:
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "centos"
        PKG_PLATFORM_VERSION: "7"
        PKG_VERSION_SLOT: "${{ steps.describe.outputs.version-slot }}"
        PACKAGE_UPLOAD_SSH_KEY: "${{ secrets.PACKAGE_UPLOAD_SSH_KEY }}"


  publish-centos-8:
    needs: [build-centos-8]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v1
      with:
        name: builds-centos-8
        path: artifacts/centos-8

    - name: Describe
      id: describe
      uses: edgedb/edgedb-pkg/integration/actions/describe-artifact@master
      with:
        target: centos-8

    - name: Publish
      uses: edgedb/edgedb-pkg/integration/linux/upload/centos-8@master
      env:
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "centos"
        PKG_PLATFORM_VERSION: "8"
        PKG_VERSION_SLOT: "${{ steps.describe.outputs.version-slot }}"
        PACKAGE_UPLOAD_SSH_KEY: "${{ secrets.PACKAGE_UPLOAD_SSH_KEY }}"


  publish-linux-x86_64:
    needs: [build-linux-x86_64]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v1
      with:
        name: builds-linux-x86_64
        path: artifacts/linux-x86_64

    - name: Describe
      id: describe
      uses: edgedb/edgedb-pkg/integration/actions/describe-artifact@master
      with:
        target: linux-x86_64

    - name: Publish
      uses: edgedb/edgedb-pkg/integration/linux/upload/linux-x86_64@master
      env:
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "linux"
        PKG_PLATFORM_VERSION: "x86_64"
        PKG_VERSION_SLOT: "${{ steps.describe.outputs.version-slot }}"
        PACKAGE_UPLOAD_SSH_KEY: "${{ secrets.PACKAGE_UPLOAD_SSH_KEY }}"

    - name: Prepare docker context
      run: |
        mkdir -p dockerctx
        cp artifacts/linux-x86_64/edgedb-cli* dockerctx/edgedb
        chmod +x dockerctx/edgedb
        printf 'FROM scratch\nENV EDGEDB_USER edgedb\nADD edgedb /usr/bin/\nENTRYPOINT ["/usr/bin/edgedb"]\n' \
          >dockerctx/Dockerfile
        tag=$(date +%Y%m%d%H%M%S)$(echo "${GITHUB_SHA}" | cut -c1-6)
        echo ::set-env name=SNAPSHOT_TAG::${tag}

    - name: Publish docker image
      uses: elgohr/Publish-Docker-Github-Action@2.19
      env:
        PKG_PLATFORM_FULL: "linux-x86_64"
      with:
        name: edgedb/edgedb-cli
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: dockerctx
        tags: "${{ env.PKG_PLATFORM_FULL }}-nightly,${{ env.PKG_PLATFORM_FULL }}-nightly-${{ env.SNAPSHOT_TAG }}"



  publish-macos-x86_64:
    needs: [build-macos-x86_64]
    runs-on: macos-latest

    steps:
    - uses: actions/download-artifact@v1
      with:
        name: builds-macos-x86_64
        path: artifacts/macos-x86_64

    - uses: actions/checkout@v1
      with:
        repository: edgedb/edgedb-pkg
        ref: master
        path: edgedb-cli/edgedb-pkg

    - name: Describe
      id: describe
      uses: edgedb/edgedb-pkg/integration/actions/describe-artifact@master
      with:
        target: macos-x86_64

    - name: Publish
      env:
        PKG_SUBDIST: "nightly"
        PKG_PLATFORM: "macos"
        PKG_PLATFORM_VERSION: "x86_64"
        PKG_VERSION_SLOT: "${{ steps.describe.outputs.version-slot }}"
        PACKAGE_UPLOAD_SSH_KEY: "${{ secrets.PACKAGE_UPLOAD_SSH_KEY }}"
      run: |
        edgedb-pkg/integration/macos/publish.sh

