name: Nightly Tests

on:
  schedule:
    - cron: "0 0 * * *"
  repository_dispatch:
    types: ["nightly-test"]
  push:
    branches:
      - nightly-test

env:
  RUST_TEST_THREADS: 1

jobs:

  nightly-test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest]
        test_suite:
        - compat
        - install
        - upgrade
        - project
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install musl-tools
        run: "sudo apt-get install musl-tools"

      - name: Remove rust-toolchain.toml
        run: rm rust-toolchain.toml

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: "cargo,rustc,rust-std"
          toolchain: "stable"
          targets: "x86_64-unknown-linux-musl"

      - name: Docker Permissions
        run: sudo chmod a+rw /var/run/docker.sock

      - run: |
          cargo test \
            --target=x86_64-unknown-linux-musl \
            --test=github-nightly \
            --features=github_nightly \
            -- \
            ${{ matrix.test_suite }}::
