name: Tests

on:
  push:
    branches:
      - master
      - ci
      - "releases/*"
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: "0 */6 * * *"

env:
  RUST_TEST_THREADS: 2
  RUST_BACKTRACE: 1

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 35
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-latest, macos-latest, windows-latest]
        # migrations tests work only on nightly
        edgedb-version: ["nightly"]
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          default: true

      - name: Install EdgeDB
        uses: edgedb/setup-edgedb@v1
        if: ${{ matrix.os != 'windows-latest' }}
        with:
          server-version: ${{ matrix.edgedb-version }}

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features github_action_install

  musl-test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 35
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest]
        # migrations tests work only on nightly
        edgedb-version: ["nightly"]
    steps:
      - uses: actions/checkout@master

      - name: Install musl-tools
        run: "sudo apt-get install musl-tools"

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: x86_64-unknown-linux-musl
          default: true

      - name: Install EdgeDB
        uses: edgedb/setup-edgedb@v1
        if: ${{ matrix.os != 'windows-latest' }}
        with:
          server-version: ${{ matrix.edgedb-version }}

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target=x86_64-unknown-linux-musl

  portable-install-tests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 35
    strategy:
      matrix:
        os: [ubuntu-20.04]
      fail-fast: false
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          default: true

      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --tests --features docker_test_wrapper,portable_tests

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --test=docker_portable_wrapper --features docker_test_wrapper,portable_tests

  portable-tests-macos:
    runs-on: macos-latest
    timeout-minutes: 35
    strategy:
      matrix:
        test: [portable_smoke, portable_project]
      fail-fast: false
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          default: true

      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --tests --features docker_test_wrapper,portable_tests

      - run: |
          sudo cp target/debug/edgedb /usr/local/bin/

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --test=${{ matrix.test }} --features docker_test_wrapper,portable_tests
