on: [push]

name: Tests

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-16.04, ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: x86_64-unknown-linux-musl
          default: true

      - name: Install EdgeDB
        env:
          OS_NAME: ${{ matrix.os }}
          SLOT: 1-alpha3
        run: |
          .github/workflows/install-edgedb.sh

      - uses: actions-rs/cargo@v1
        with:
          command: test

  musl-test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@master
      - name: Install musl-tools
        run: "sudo apt-get install musl-tools"
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: x86_64-unknown-linux-musl
          default: true

      - name: Install EdgeDB
        env:
          OS_NAME: ${{ matrix.os }}
          SLOT: 1-alpha3
        run: |
          .github/workflows/install-edgedb.sh

      - uses: actions-rs/cargo@v1
        with:
          command: test

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target=x86_64-unknown-linux-musl
